* { margin: 0; padding: 0; }
@import url('https://fonts.googleapis.com/css?family=Karla');

.aboutpage-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../images/bonsai.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  padding-left: 4%;
}

.headline-title {
  color: white;
  font-weight: bold;
  font-family: 'Karla';
  margin-left: 2%;
  padding-top: 8%;
  font-size: 2rem;
  width: 60%;
}

.row-container {
  display: flex;
  flex-direction: 'row';
  margin-top: 2x%;
}

.column-container {
  display:flex;
  flex-direction: column;
  width: 50%;
}

.column-container h3 {
  color: #FF7A0C;
  margin-bottom: 1%;
  font-size: 2rem;
  margin-left: 5%;
}

.column-container p {
  color: white;
  margin-bottom: 5%;
  margin-left: 5%;
  font-size: 1.2rem;
}
















@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .aboutpage-container {
      padding-left: none;
      padding-right: 5%;
      background-attachment: inherit;
    }
    .headline-title {
      font-size: 1.5rem;
      margin-left: 4%;
      padding-top: 8%;
    }
    .column-container {
      padding-left: 4%;
      padding-right: 2%;
      margin-top: 5%;
    }
    .column-container h3 {
      color: #FF7A0C;
      margin-bottom: 3%;
      font-size: 1.2rem;
      margin-left: 5%;
    }
    .column-container p {
      color: white;
      margin-bottom: 5%;
      margin-left: 5%;
      font-size: 0.8rem;
    }
}

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .aboutpage-container {
      padding-left: none;
    }
    .headline-title {
      font-size: 1.5rem;
      padding-top: 8%;
    }
    .column-container {
      padding-left: 4%;
      padding-right: 2%;
      margin-top: 5%;
    }
    .column-container h3 {
      color: #FF7A0C;
      margin-bottom: 3%;
      font-size: 1.2rem;
      margin-left: 5%;
    }
    .column-container p {
      color: white;
      margin-bottom: 5%;
      margin-left: 5%;
      font-size: 0.8rem;
    }

}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .aboutpage-container {
      padding-left: none;
    }
    .headline-title {
      font-size: 1.5rem;
      padding-top: 8%;
    }
    .column-container {
      padding-left: 4%;
      padding-right: 2%;
      margin-top: 5%;
    }
    .column-container h3 {
      color: #FF7A0C;
      margin-bottom: 3%;
      font-size: 1.2rem;
      margin-left: 5%;
    }
    .column-container p {
      color: white;
      margin-bottom: 5%;
      margin-left: 5%;
      font-size: 0.8rem;
    }
}